body {
    padding-top: 70px;
}

.resizable {
    border: 2px solid gray;
}

.nolink, .nolink:hover, .nolink:focus {
    color: #333;
    text-decoration: none;
}

.form-add-margin {
    margin-left: 15px;
    margin-right: 15px;
}

.label-role-moderator {
    background-color: #5bc0de;
}

.label-role-admin {
    background-color: #f0ad4e;
}

.label-role-owner {
    background-color: #d9534f;
}

.label-status-approval {
    background-color: #f0ad4e;
}

.label-status-wontfix {
    background-color: #d9534f;
}

.label-status-needhelp {
    background-color: #5bc0de;
}

.label-status-inprogress {
    background-color: #428bca;
}

.label-status-finished {
    background-color: #5cb85c;
}


.form-control-inline-large {
    width: 95%;
    display: inline;
}

.form-control-inline {
    width: 50%;
    display: inline;
    margin-right: 5%;
}

.form-control-inline-small {
    width: 25%;
    display: inline;
    margin-right: 5%;
}

.form-control-inline-mini {
    width: 10%;
    display: inline;
}

.form-control-inline-micro {
    width: 75px;
    height: 20px;
    display: inline;
}

.form-paginator {
    margin: 0;
    padding: 6px 10px 5px 10px !important;
    border-spacing: 0;
}

.new {
    background-color: #fbeed5;
}

.close-nofloat {
    float: none;
}