body {
    padding-top: 50px;
}

.resizable {
    border: 2px solid gray;
}

.nolink, .nolink:hover, .nolink:focus {
    color: #333;
    text-decoration: none;
}

.btn-micro {
	line-height: 16px;
	padding: 0 6px;
	font-size: 8px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

[data-folder] {
	cursor: pointer;
}

.btn-micro .caret {
	margin-top: 6px;
}

li.auto-expand .text {
	display: none;
}

li.auto-expand:hover .text {
	display: inline;
}

.list-no-style {
	list-style: none;
}

.list-no-margin {
	margin-left: 0;
}

.folder-list {
	list-style: none;
	margin-left: 5px;
}

.folder-list li {
	border-left: 1px solid #ddd;
	padding-left: 10px;
}

.folder-list ul.dropdown-menu li {
	padding-left: 0;
	border-left: 0;
}

.left-panel {
	position: fixed;
	top: 40px;
	padding: 10px 10px 10px 15px;
	width: 20%;
	bottom: 0;
	overflow: auto;
}

#left-panel-toggle-icon {
	cursor: pointer;
}

.left-tabs {
	position: fixed;
	height: 100%;
	top: 0;
	left: 20%;
	padding-left: 10px;
}

.left-tabs-inner {
	padding-top: 50px;
	height: 100%;
	min-width: 10px;
}

.left-tabs-inner li {
	display: table;
}

.left-tabs-inner .divider-vertical {
	margin-bottom: 10px;
}

.left-tabs-inner a {
	min-width: 15px !important;
	border-top: 1px solid #ddd !important;
	border-bottom: 1px solid #ddd !important;
	border-right: 1px solid #ddd !important;
}

.content {
	position: absolute;
	top: 50px;
	left: 20%;
	right: 10px;
	margin-left: 90px;
}

.chatbox {
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 10px;
}

.form-add-margin {
    margin-left: 15px;
    margin-right: 15px;
}

.label-role-moderator {
    background-color: #5bc0de;
}

.label-role-admin {
    background-color: #f0ad4e;
}

.label-role-owner {
    background-color: #d9534f;
}

.label-status-approval {
    background-color: #f0ad4e;
}

.label-status-wontfix {
    background-color: #d9534f;
}

.label-status-needhelp {
    background-color: #5bc0de;
}

.label-status-inprogress {
    background-color: #428bca;
}

.label-status-finished {
    background-color: #5cb85c;
}


.form-control-inline-large {
    width: 95%;
    display: inline;
}

.form-control-inline {
    width: 50%;
    display: inline;
    margin-right: 5%;
}

.form-control-inline-small {
    width: 25%;
    display: inline;
    margin-right: 5%;
}

.form-control-inline-mini {
    width: 10%;
    display: inline;
}

.form-control-inline-micro {
    width: 75px;
    height: 20px;
    display: inline;
}

.form-paginator {
    margin: 0;
    padding: 6px 10px 5px 10px !important;
    border-spacing: 0;
}

.new {
	background-color:#fcf8e3;
}

.close-nofloat {
    float: none;
	vertical-align: text-bottom;
	font-size: 20px;
	line-height: 15px;
}

.loading {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}

.loading-image {
    position: relative;
    top: 49%;
    left: 45%;
}

/* Text Editor */

.text-editor {
	padding: 33px 4px 6px;
	width: 50%;

	display: inline-block;
	height: auto;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 20px;
	color: #555;
	vertical-align: middle;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	background-color: #fff;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border linear .2s,box-shadow linear .2s;
	-moz-transition: border linear .2s,box-shadow linear .2s;
	-o-transition: border linear .2s,box-shadow linear .2s;
	transition: border linear .2s,box-shadow linear .2s;
}

.text-editor:focus {
	border-color: rgba(82,168,236,0.8);
	outline: 0;
	outline: thin dotted \9;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
}

.text-editor-controls {
	position: absolute;
	margin-top: 1px;
	margin-left: 1px;
}

/* FIXME */

.text-editor-controls .btn-group .btn:first-child {
	border-top-left-radius: 0;
}

.text-editor-controls .btn-group .btn:last-child {
	border-top-right-radius: 0;
}

.text-editor-controls .btn-group:first-child .btn:first-child {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 0;
}
