{#content}
<ol class="breadcrumb">
	<li><a class="ajax" n:href="Dashboard:default">Nástěnka</a></li>
	<li class="active">Přihlášení</li>
</ol>

<div class="page-header">
	<h1>Přihlášení</h1>
</div>
{control loginForm}