#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:

php:
	date.timezone: Europe/Prague
	# zlib.output_compression: yes

nette:
	application:
		errorPresenter: Error
		mapping:
			*: TaskManager\*Module\*Presenter

	session:
		expiration: 14 days

database:
	rowFactory:
		classes:
			## rows ##
			projects: TaskManager\Model\Project
			categories: TaskManager\Model\Category
			tasks: TaskManager\Model\Task
			folders: TaskManager\Model\Folder
			taskUsers: TaskManager\Model\TaskUser
			notifications: TaskManager\Model\Notification
			users: TaskManager\Model\User
		defaultClass: TaskManager\Model\ActiveRow

services:
	## tables ##
	- TaskManager\Model\Users
	- TaskManager\Model\Groups
	- TaskManager\Model\Chats
	- TaskManager\Model\Tasks
	- TaskManager\Model\Categories
	- TaskManager\Model\Projects
	- TaskManager\Model\ProjectAccess
	- TaskManager\Model\Folders
	- TaskManager\Model\TaskUsers
	- TaskManager\Model\TaskComments
	- TaskManager\Model\Notifications

	## facades ##
	- TaskManager\Model\UserFacade
	- TaskManager\Model\ProjectFacade
	- TaskManager\Model\NotificationFacade
	- TaskManager\Model\FolderFacade
	- TaskManager\Model\TaskFacade
	- TaskManager\Model\ChatFacade

	## other ##
	- TaskManager\Security\Authenticator
	- TaskManager\Security\Authorizator
	- TaskManager\Controls\MailSender

	- TaskManager\Routing\RouterFactory
	router: @TaskManager\Routing\RouterFactory::createRouter