{#outerContent}
<div class="container">
	<ol class="breadcrumb">
		<li class="active">Nástěnka</li>
	</ol>
</div>

<div class="jumbotron">
	<div class="container">
		<h1>Úkolníček</h1>
		<p>vše na jednom místě</p>
	</div>
</div>
{/#}{#content}
<div class="row">
	<div class="col-lg-8">

	</div>
	<div class="col-lg-4">
		{snippet chat}
			<div class="panel panel-primary">
				<div class="panel-heading">ChatBox</div>
				<div class="panel-body">
					{form sendChatMessageForm}
						<div class="form-group">{label message}{/label}{input message, class => 'form-control'}</div>
						{input send, class => 'form-control btn btn-primary'}
					{/form}
				</div>

				<ul class="list-group" n:foreach="$chats as $chat">
					<li class="list-group-item">
						<div class="list-group-item-heading">
							<span class="glyphicon glyphicon-user"></span>
							<a n:href="User:detail $chat->user->nick">{$chat->user->nick}</a>
							{$chat->user->role|role}
							<span class="pull-right">
								<span class="glyphicon glyphicon-time"></span> {$chat->time|time}
							</span>
						</div>
						<div class="list-group-item-text">
							{$chat->message}
						</div>
					</li>
				</ul>
			</div>
		{/snippet}
	</div>


	{#scripts}
	<script>
		window.setInterval(function(){
			$.nette.ajax({ url: {plink :Public:Dashboard:default}, data: { page: {$presenter->getParameter('page') ?: 1 }, chat: 1 } });
		}, 1000);
	</script>
	{/#}
</div>