{#outerContent}
<div class="container">
	<ol class="breadcrumb">
		<li class="active">Nástěnka</li>
	</ol>
</div>

<div class="jumbotron">
	<div class="container">
		<h1>Úkolníček</h1>
		<p>vše na jednom místě</p>
	</div>
</div>
{/#}{#content}