<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="robots" content="{$robots}" n:ifset="$robots">

	<title>{#title}GameTeam.cz Úkolníček{/#}</title>

	<link rel="stylesheet" href="{$basePath}/css/bootstrap2.css">
	<link rel="stylesheet" href="{$basePath}/css/bootstrap2-responsive.css">
	<link rel="stylesheet" href="{$basePath}/css/bootstrap3.panels.css">
	<link rel="stylesheet" href="{$basePath}/css/font-awesome.css">
	<link rel="stylesheet" href="{$basePath}/css/jquery-ui.css">
	<link rel="stylesheet" href="{$basePath}/css/common.css">
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
	{#head}{/#}
</head>

<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner" role="navigation">
			<div class="container">
					<a class="brand" n:href=":Public:Dashboard:default">Úkolníček</a>

				<ul class="nav pull-left">
					<li n:class="$presenter->isLinkCurrent(':Public:Projects:list') ? active"><a n:href=":Public:Projects:list"><span class="icon-list"></span> Seznam projektů</a></li>
					{* <li n:if="$user->isLoggedIn()" class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-tasks"></span> Moje úkoly <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li n:class="$presenter->isLinkCurrent(':Public:User:tasks') ? active"><a n:href=":Public:User:tasks">Úkoly přiřazené mně <span class="badge">{$taskCount ?: ''}</span></a></li>
							<li n:class="$presenter->isLinkCurrent(':Public:User:myTasks') ? active"><a n:href=":Public:User:myTasks">Úkoly zadané mnou <span class="badge">{$myTaskCount ?: ''}</span></a></li>
						</ul>
					</li>
					<li n:if="$user->isLoggedIn()" n:class="$presenter->isLinkCurrent(':Public:User:notifications') ? active"><a n:href=":Public:User:notifications"><span class="glyphicon glyphicon-exclamation-sign"></span> Upozornění <span class="badge">{$notificationCount ?: ''}</span></a></li>
					<li n:if="$user->isLoggedIn()" n:class="$presenter->isLinkCurrent(':Public:User:sessions') ? active"><a n:href=":Public:User:sessions"><span class="glyphicon glyphicon-calendar"></span> Moje schůzky <span class="badge">{$sessionCount ?: ''}</span></a></li>
					*}
				</ul>

				<ul class="nav pull-right">
					{if $user->isLoggedIn()}
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="icon-user"></span> {$user->identity->nick} <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li{ifCurrent :Public:User:detail} class="active"{/ifCurrent}><a n:href=":Public:User:detail $user->identity->id"><span class="glyphicon glyphicon-credit-card"></span> Zobrazit profil</a></li>
								<li><a n:href="logout!"><span class="glyphicon glyphicon-log-out"></span> Odhlásit se</a></li>
							</ul>
						</li>
					{else}
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> Nepřihlášen <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a n:href=":Public:User:register"><span class="glyphicon glyphicon-plus"></span> Registrace</a></li>
								<li><a n:href=":Public:User:login"><span class="glyphicon glyphicon-log-in"></span> Přihlášení</a></li>
							</ul>
						</li>
					{/if}
				</ul>
			</div>
		</div>
	</div>

	<div class="content" id="content">
		<div n:if="count($flashes)" class="flashes">
			<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type} fade in">
				<button class="close" data-dismiss="alert">&times;</button>
				{$flash->message}
			</div>
		</div>
		{#content}{/#}
	</div>

	<div class="left-panel" id="left-panel">
		{ifset $project}
			{#panel}{/#}
			{* include #treeItem, item => $project->folderTree *}
		{elseif isset($projects)}
			Není vybrán žádný projekt, vyberte si v <a n:href=":Public:Projects:list">seznamu projektů</a>, nebo zde:<br>
			<ul class="list-no-style">
				<li n:foreach="$projects as $pr">{include #project, project=>$pr}</li>
			</ul>
		{else}
			Nejsi přihlášen.
		{/ifset}
	</div>

	<div class="left-tabs tabs-right" id="left-tabs">
		<ul class="left-tabs-inner nav nav-tabs">
			<li class="active"><a id="left-panel-toggle" href="#"><span id="left-panel-toggle-icon" class="icon-chevron-left"></span></a></li>
			<li class="divider-vertical"></li>
			{ifset $project}
				<li n:class="auto-expand, ($presenter->isLinkCurrent(':Project:Dashboard:*') || $presenter->isLinkCurrent(':Public:Projects:edit')) ? 'active'">
					<a n:href="Dashboard:default">
						<span class="icon-list-alt"></span>
						<span class="text">&nbsp;{$project->name} <span class="icon-chevron-right"></span> Základní informace</span>
					</a>
				</li>
				<li n:class="auto-expand, $presenter->isLinkCurrent(':Project:Folders:*') ? 'active'">
					<a n:href="Folders:default">
						<span class="icon-folder-close"></span>
						<span class="text">&nbsp;{$project->name} <span class="icon-chevron-right"></span> Složky</span>
					</a>
				</li>
				<li n:class="auto-expand, $presenter->isLinkCurrent(':Project:Tasks:*') ? 'active'">
					<a n:href="Tasks:list">
						<span class="icon-tasks"></span>
						<span class="text">&nbsp;{$project->name} <span class="icon-chevron-right"></span> Úkoly</span>
					</a>
				</li>
			{/ifset}
		</ul>
	</div>

	<script src="{$basePath}/js/jquery.js"></script>
	<script src="{$basePath}/js/jquery-ui.js"></script>
	<script src="{$basePath}/js/jquery-ui.cs.js"></script>
	<script src="{$basePath}/js/netteForms.js"></script>
	<script src="{$basePath}/js/bootstrap.js"></script>
	<script src="{$basePath}/js/bootstrap.typeahead.js"></script>
	<script src="{$basePath}/js/common.js"></script>
	{#scripts}
	{/#}

	<script>
		$("[data-tooltip]").tooltip({ html: true });
		$(".alert").alert();
		$.datepicker.setDefaults($.datepicker.regional['cs']);
		$('.input-datepicker').datepicker();
	</script>
</body>
</html>
{define treeItem}
	<ul class="folder-list">
		{foreach $item->getChildren() as $child}
			<li class="folder">
				<b n:tag-if="$presenter->isLinkCurrent(':Project:Folders:*') && $presenter->getParamByName('id') == $child->getRow()->id">
					<span id="folder-{$child->getRow()->id}" data-folder="{$child->getRow()->id}" class="icon-folder-open"></span>
					<a n:href="Folders:list id=>$child->getRow()->id">{$child->row->name}</a>
					<div class="btn-group">
						<a class="btn btn-micro dropdown-toggle" data-toggle="dropdown" href="#">
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li n:if="$user->isAllowed('folder', 'create')"><a n:href="Folders:create id=>$child->getRow()->id"><span class="icon-folder-close"></span> Vytvořit podsložku</a></li>
							<li n:if="$user->isAllowed('folder', 'edit')"><a n:href="Folders:rename id=>$child->getRow()->id"><span class="icon-edit"></span> Přejmenovat</a></li>
							<li n:if="$user->isAllowed('folder', 'delete')"><a data-confirm="Opravdu chcete smazat složku '{$child->getRow()->name}', všechny její podsložky a všechny úkoly v nich?" n:href="delete! id=>$child->getRow()->id"><span class="icon-remove"></span> Odstranit</a></li>
							<li class="divider"></li>
							<li n:if="$user->isAllowed('task', 'create')"><a n:href="Tasks:create id=>$child->getRow()->id"><span class="icon-file"></span> Přidat úkol</a></li>
							<li n:if="$user->isAllowed('task', 'view')"><a n:href="Folders:list id=>$child->getRow()->id"><span class="icon-list"></span> Vypsat úkoly</a></li>
						</ul>
					</div>
				</b>
				{include #treeItem, item => $child}
				<ul class="folder-list">
					<li n:foreach="$child->getTasks() as $task">{include #task, task => $task}</li>
				</ul>
			</li>
		{/foreach}
	</ul>
	{? unset($open)}
{/define}
{define task}
	<b n:tag-if="$presenter->isLinkCurrent(':Project:Tasks:*') && $presenter->getParamByName('id') == $task->id">
		<span class="icon-file-text-alt" data-tooltip title="Detail úkolu {$task->name}"></span>
		<a n:href="Tasks:detail id=>$task->id">{$task->name}</a>
	</b>
{/define}
{define user}
	{if isset($user) && $user instanceof \TaskManager\Model\User}
		<span class="icon-user" data-tooltip title="Profil uživatele {$user->nick}"></span>&nbsp;<a n:href=":Public:User:detail $user->id">{$user->nick}</a>
	{elseif isset($user)}
		{$user}
	{/if}
{/define}
{define project}
	{if isset($project) && $project instanceof \TaskManager\Model\Project}
		<span class="icon-list-alt" data-tooltip title="Detail projektu {$project->name}"></span>&nbsp;<a n:href=":Project:Dashboard:default projectId => $project->id">{$project->name}</a>
	{elseif isset($project)}
		{$project}
	{/if}
{/define}
{define paginator}
	<ul class="pagination">
		<li n:class="$paginator->isFirst() ? disabled"><a n:href="this page => $paginator->page-1">&laquo;</a></li>
		{var $dots = false;}
		{var $a = array()}
		{for $j = 1; $j <= 5; $j++}
			{? $a[] = (int) ($j * $paginator->getLastPage() / 5)}
		{/for}
		{for $i = $paginator->getFirstPage(); $i <= $paginator->getLastPage(); $i++}
			{if $paginator->getPage() == $i}
				<li class="active"><a n:href="this">{$i}</a></li>{? $dots = true}
			{elseif in_array($i, $a) || $paginator->getFirstPage() == $i || $paginator->getLastPage() == $i || abs($i - $paginator->getPage()) <= 3}
				<li><a n:href="this page => $i">{$i}</a></li>{? $dots = true}
			{elseif $dots == true}
				<li class="disabled"><a>...</a></li>{?$dots = false;}
			{/if}
		{/for}
		<li n:class="$paginator->isLast() ? disabled"><a n:href="this page => $paginator->page+1">&raquo;</a></li>
		<li>
			<a class="form-paginator">{form paginatorForm, class => 'pull-right'}{? $_form['maxPage']->setValue($paginator->getLastPage())}
				{input maxPage}{input page class => 'form-control form-control-inline-micro', style=> 'padding: 0px; text-align: center;'}{input goto class => 'collapse form-control'}
				{/form}
			</a>
		</li>
	</ul>
{/define}