<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="robots" content="{$robots}" n:ifset="$robots">

	<title>{#title}GameTeam.cz Úkolníček{/#}</title>

	<link rel="stylesheet" href="{$basePath}/css/bootstrap.css">
	<link rel="stylesheet" href="{$basePath}/css/font-awesome.css">
	<link rel="stylesheet" href="{$basePath}/css/jquery-ui.css">
	<link rel="stylesheet" href="{$basePath}/css/common.css">
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
	{#head}{/#}
</head>

<body>
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			{snippet navbar}
			<div class="navbar-header">
				<a class="navbar-brand ajax" n:href=":Public:Dashboard:default">Úkolníček</a>
			</div>

			<ul class="nav navbar-nav navbar-left">
				<li n:class="$presenter->isLinkCurrent(':Public:Board:projects') ? active"><a class="ajax" n:href=":Public:Board:projects"><span class="glyphicon glyphicon-list"></span> Seznam projektů</a></li>
				<li n:if="$user->isLoggedIn()" n:class="$presenter->isLinkCurrent(':Public:User:tasks') ? active"><a n:href=":Public:User:tasks" class="ajax"><span class="glyphicon glyphicon-tasks"></span> Moje úkoly <span class="badge">{$taskCount ?: ''}</span></a></li></li>
				<li n:if="$user->isLoggedIn()" n:class="$presenter->isLinkCurrent(':Public:User:notifications') ? active"><a n:href=":Public:User:notifications" class="ajax"><span class="glyphicon glyphicon-exclamation-sign"></span> Upozornění <span class="badge">{$notificationCount ?: ''}</span></a></li></li>
				<li n:if="$user->isLoggedIn()" n:class="$presenter->isLinkCurrent(':Public:User:sessions') ? active"><a n:href=":Public:User:sessions" class="ajax"><span class="glyphicon glyphicon-calendar"></span> Moje schůzky <span class="badge">{$sessionCount ?: ''}</span></a></li></li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				{if $user->isLoggedIn()}
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> {$user->identity->nick} <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li{ifCurrent :Public:User:detail} class="active"{/ifCurrent}><a n:href=":Public:User:detail $user->identity->id"><span class="glyphicon glyphicon-credit-card"></span> Zobrazit profil</a></li>
							<li><a n:href="logout!"><span class="glyphicon glyphicon-log-out"></span> Odhlásit se</a></li>
						</ul>
					</li>
				{else}
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> Nepřihlášen <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a data-toggle="modal" data-target="#modal-register" href="#"><span class="glyphicon glyphicon-plus"></span> Registrace</a></li>
							<li><a data-toggle="modal" data-target="#modal-login" href="#"><span class="glyphicon glyphicon-log-in"></span> Přihlášení</a></li>
						</ul>
					</li>
				{/if}
			</ul>
			{/snippet}
		</div>
	</div>
	<div class="container">
		{snippet flashes}
			{#flash}
				<div n:if="isset($notificationCount) && $notificationCount > 0 && (!$presenter->isLinkCurrent('User:notifications'))" class="alert alert-info">
					<b><a n:href="User:notifications">Máte nová upozornění!</a></b>
				</div>
				{foreach $flashes as $flash}
					<div class="alert alert-{$flash->type} alert-dismissable fade in">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						{$flash->message}
					</div>
				{/foreach}
			{/#}
		{/snippet}
	</div>

	{snippet content}
		{#outerContent}{/#}
		<div class="container">
			{#content}
				Obsah nedodán
			{/#}

			{if !$user->isLoggedIn()}
				<div class="modal fade" id="modal-register">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title">Registrace</h4>
							</div>

							{form registerForm, class => 'ajax'}
								<div class="modal-body">
									<div class="form-group">{label nick}{/label} {input nick, class => 'form-control'}</div>
									<div class="form-group">{label password}{/label} {input password, class => 'form-control'}</div>
									<div class="form-group">{label password2}{/label} {input password2, class => 'form-control'}</div>
									<div class="form-group">{label email}{/label} {input email, class => 'form-control'}</div>
								</div>

								<div class="modal-footer">
									{input register, class => 'btn btn-primary'}
								</div>
							{/form}
						</div>
					</div>
				</div>

				<div class="modal fade" id="modal-login">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title">Přihlášení</h4>
							</div>

							{form loginForm, class => 'ajax'}
								<div class="modal-body">
									<div class="form-group">{label nick}{/label} {input nick, class => 'form-control'}</div>
									<div class="form-group">{label password}{/label} {input password, class => 'form-control'}</div>
								</div>

								<div class="modal-footer">
									{input login, class => 'btn btn-primary'}
								</div>
							{/form}
						</div>
					</div>
				</div>
			{/if}
		</div>
	{/snippet content}

	<script src="{$basePath}/js/jquery.js"></script>
	<script src="{$basePath}/js/jquery-ui.js"></script>
	<script src="{$basePath}/js/jquery-ui.cs.js"></script>
	<script src="{$basePath}/js/netteForms.js"></script>
	<script src="{$basePath}/js/nette.ajax.js"></script>
	<script src="{$basePath}/js/bootstrap.js"></script>
	<script src="{$basePath}/js/bootstrap.typeahead.js"></script>
	<script src="{$basePath}/js/common.js"></script>
	<script>
		$(function () {
			$.nette.init();
		});
	</script>
	{#scripts}
	{/#}

	{snippet essentials}
		<script>
			/*$('a.ajax').on('click', function(){
				history.pushState({}, '', $(this).attr('href'));
			});*/
			$("[data-tooltip]").tooltip();
			$(".alert").alert();
			$.datepicker.setDefaults($.datepicker.regional['cs']);
			$('.input-datepicker').datepicker();
		</script>
	{/snippet}
</body>
</html>
{define paginator}
	<ul class="pagination">
		<li n:class="$paginator->isFirst() ? disabled"><a class="ajax" n:href="this page => $paginator->page-1">&laquo;</a></li>
		{var $dots = false;}
		{var $a = array()}
		{for $j = 1; $j <= 5; $j++}
			{? $a[] = (int) ($j * $paginator->getLastPage() / 5)}
		{/for}
		{for $i = $paginator->getFirstPage(); $i <= $paginator->getLastPage(); $i++}
			{if $paginator->getPage() == $i}
				<li class="active"><a class="ajax" n:href="this">{$i}</a></li>{? $dots = true}
			{elseif in_array($i, $a) || $paginator->getFirstPage() == $i || $paginator->getLastPage() == $i || abs($i - $paginator->getPage()) <= 3}
				<li><a class="ajax" n:href="this page => $i">{$i}</a></li>{? $dots = true}
			{elseif $dots == true}
				<li class="disabled"><a>...</a></li>{?$dots = false;}
			{/if}
		{/for}
		<li n:class="$paginator->isLast() ? disabled"><a class="ajax" n:href="this page => $paginator->page+1">&raquo;</a></li>
		<li>
			<a class="form-paginator">{form paginatorForm, class => 'pull-right'}{? $_form['maxPage']->setValue($paginator->getLastPage())}
				{input maxPage}{input page class => 'form-control form-control-inline-micro', style=> 'padding: 0px; text-align: center;'}{input goto class => 'collapse form-control'}
				{/form}
			</a>
		</li>
	</ul>
{/define}